/*
 *
 * {{ properCase name }}
 *
 */

import React from 'react'
// import T from 'prop-types'

import { buildLog } from '@/utils'

{{#if wantStyle}}
import { Wrapper } from './styles'
{{/if}}
{{#if wantI18n}}
import { FormattedMessage as I18n } from 'react-intl'
import lang from './lang'
{{/if}}

/* eslint-disable-next-line */
const log = buildLog('c:{{ properCase name }}:index')

const {{ properCase name }} = () => {
  return (
    {{#if wantStyle}}
    <Wrapper testid="{{ camelCase name}}">
      {{/if}}
      <div>
        <h2>{{ properCase name }} component</h2>
        {{#if wantI18n}}
        <I18n {...lang.header} />
        {{/if}}
        <p>impress me</p>
      </div>
      {{#if wantStyle}}
    </Wrapper>
    {{/if}}
  )
}

{{ properCase name }}.propTypes = {
  // https://www.npmjs.com/package/prop-types
  // attr: PropTypes.string,
}

{{ properCase name }}.defaultProps = {
  // attr: '{{ camelCase name }}',
}

export default React.memo({{ properCase name }})
