/*
 *
 * {{ properCase name }}
 *
 */

import React from 'react'
import T from 'prop-types'

import { buildLog } from '@/utils'
{{#if wantI18n}}
import { useTrans } from '@/hooks'
{{/if}}

{{#if wantStyle}}
import { Wrapper } from './styles'
{{/if}}

/* eslint-disable-next-line */
const log = buildLog('c:{{ properCase name }}:index')

const {{ properCase name }} = ({{preCurly ""}} testid {{afterCurly ""}}) => {
  {{#if wantI18n}}
  const { t } = useTrans()
  {{/if}}
  return (
    {{#if wantStyle}}
    <Wrapper testid={testid}>
      {{/if}}
      <div>
        <h2>{{ properCase name }} component</h2>
        <p>impress me</p>
      </div>
      {{#if wantStyle}}
    </Wrapper>
    {{/if}}
  )
}

{{ properCase name }}.propTypes = {
  testid: T.string,
}

{{ properCase name }}.defaultProps = {
  testid: '{{ camelCase name}}',
}

export default React.memo({{ properCase name }})
