/*
*
* {{ properCase name }}
*
*/

import React from 'react'
import { inject, observer } from 'mobx-react'

// import Link from 'next/link'
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

import { makeDebugger, storeSelector } from '../../utils/functions'
import * as logic from './logic'

const debug = makeDebugger('C:{{ properCase name }}')

class {{ properCase name }}Container extends React.Component {
  componentWillMount() {
    debug('mount')
    logic.init(this.props.{{ camelCase name }})
  }

  render() {
    return (
      <div>{{ properCase name }} container!</div>
      {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
      {{/if}}
    )
  }
}

export default inject(storeSelector('{{ camelCase name }}'))(observer({{ properCase name }}Container))
