/*
*
* {{ properCase name }}
*
*/

import React from 'react'
import { inject, observer } from 'mobx-react'

// import Link from 'next/link'
// import styled from 'styled-components'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

import { makeDebugger } from '../../utils/debug'
import * as logic from './logic'

const debug = makeDebugger('C:{{ properCase name }}')

const selector = ({ store }) => ({
  store: store,
})

class {{ properCase name }}Container extends React.Component {
  componentDidMount() {
    debug('mount)
    logic.init(this.props.store)
  }

  render() {
    return (
      <div>{{ properCase name }} container!</div>
      {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
      {{/if}}
    )
  }
}

export default inject(selector)(observer({{ properCase name }}Container))
