//

/*
 *
 * {{ properCase name }}
 *
 */

import React from 'react'
import T from 'prop-types'

import { connectStore, buildLog } from '@/utils'
{{#if wantMessages}}
  import { useTrans } from '@/hooks'
{{/if}}

import { Wrapper } from './styles'
import { useInit } from './logic'

/* eslint-disable-next-line */
const log = buildLog('C:{{ properCase name }}')

const {{ properCase name }}Container = ({{preCurly ""}} {{ camelCase name}}, testid {{afterCurly ""}}) => {
  useInit({{ camelCase name }})
  {{#if wantMessages}}
  const { t } = useTrans()
  {{/if}}

  return (
    <Wrapper testid={testid}>
      <h2>{{ properCase name }} hooks container!</h2>
      <div>impress me!</div>
    </Wrapper>
  )
}

{{ properCase name }}Container.propTypes = {
  {{ camelCase name }}: T.any.isRequired,
  testid: T.string,
}

{{ properCase name }}Container.defaultProps = {
  testid: '{{ camelCase name}}',
}

export default connectStore({{ properCase name }}Container)
