/*
 *
 * {{ properCase name }}
 *
 */

import { FC, memo } from 'react'

import { buildLog } from '@/utils/logger'
{{#if wantI18n}}
import { useTrans } from '@/hooks'
{{/if}}

{{#if wantStyle}}
import { Wrapper } from './styles'
{{/if}}

/* eslint-disable-next-line */
const log = buildLog('c:{{ properCase name }}:index')

type TProps = {
  testid?: string
}

const {{ properCase name }}: FC<TProps> = ({{preCurly ""}} testid = '{{ dashCase name }}' {{afterCurly ""}}) => {
  {{#if wantI18n}}
  const { t } = useTrans()
  {{/if}}
  return (
    {{#if wantStyle}}
    <Wrapper testid={testid}>
      {{/if}}
      <div>
        <h2>{{ properCase name }} widgets</h2>
        <p>impress me</p>
      </div>
      {{#if wantStyle}}
    </Wrapper>
    {{/if}}
  )
}

export default memo({{ properCase name }})
